.header {
  width: 100%;
  border-bottom: 1px black solid;
  & > .container {
    margin: auto;
    max-width: 1400px;
    min-height: 3.5rem;
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
  }
  &__logo {
    height: 8rem;
  }
}

.nav {
  display: none;
}

.fa-bars {
  position: absolute;
  top: 50%;
  right: 1em;
  transform: translate(0, -50%);
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5em;
  padding: 0 1em;
}

.nav__item {
  font-size: 1.1rem;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.social-media {
  display: none;
}

.social__list {
  display: flex;
  gap: 2em;
  padding: 0 1em;
}

.social__item {
  height: 1.7rem;
  width: 1.7rem;
}

.icon {
  border-radius: 50%;

  & > a {
    margin: auto;
  }

  &:hover {
    background-color: var(--color-main);
    fill: white;
  }
}

.burger {
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translate(0, -50%);
}

@media screen and (min-width: 1200px) {
  .burger {
    display: none;
  }
  .header h1 {
    display: none;
  }

  .social-media {
    display: inline;
  }
  .nav {
    display: inline;
  }
}
