.pricing {
  &__container {
    margin: auto;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  &__image {
    height: 100%;
    width: 100%;
    max-width: 95svh;
    object-fit: cover;
  }

  &__header {
    text-decoration: underline;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.8rem;
    font-weight: bold;
  }

  &__list {
    // margin: auto;
    max-width: 320px;
    margin-bottom: 3rem;
  }
}

.warning {
  margin: auto;
  max-width: 80ch;
}

@media screen and (min-width: 720px) {
  .pricing {
    &__container {
      // flex-direction: row;
      gap: 1rem;
    }
    // &__image {
    //   max-width: 700svh;
    // }
  }
}
@media screen and (min-width: 1200px) {
  .pricing {
    &__container {
      flex-direction: row;
    }
  }
}
