.tos {
  &__container {
    padding-left: 1rem;
    margin: auto;
    max-width: 1400px;
    position: relative;

    & > div {
      position: sticky;
      top: 0;
    }
    // display: grid;
    // grid-template-columns: 150px 1fr;
    // row-gap: 3rem;
  }

  &__content {
    position: relative;
    & > div {
      position: sticky;
      top: 0;
    }
  }

  &__header {
    text-align: center;
  }

  &__item {
    margin-bottom: 1.5rem;
  }

  &__service-name {
    position: sticky;
    top: 0;
    background-color: var(--color-main);
    // height: 80px;
  }

  &__images {
    display: none;
  }

  &__image_container {
    display: none;
  }
}

.service-tos {
  max-width: 70ch;
  list-style: disc;
  padding-left: 2rem;
  margin-bottom: 3rem;
}

.download {
  margin: 10px auto;
  text-align: center;
  //   width: 10px;
}

@media screen and (min-width: 1200px) {
  * {
    overflow: visible;
  }
  .tos {
    &__container {
      display: grid;
      grid-template-columns: 1fr 400px;
      row-gap: 3rem;
      overflow: visible;

      // & > div {
      //   position: static;
      // }
    }

    &__content {
      display: grid;
      grid-template-columns: 150px 1fr;
      row-gap: 3rem;
      overflow: visible;
      & > div {
        position: static;
      }
    }

    &__images {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      overflow: visible;
      display: auto;
      padding: 15px 0;
    }

    &__image {
      object-fit: none;
    }

    &__image_container {
      display: block;
    }

    &__service-name {
      height: 80px;
    }
  }
}
