* {
  box-sizing: border-box;
  color: var(--font-main-color);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: var(--font-main-color);
  line-height: 1.5;
  margin: 0;
  padding: 0;
  // overflow-x: hidden;
}

.bold {
  font-weight: bold;
}

.is-hidden {
  display: none;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
